<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Visualization of Datasets</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <!-- <link href={% static "img/favicon.png" %} rel="icon"> -->
        <!-- <link href={% static "img/apple-touch-icon.png" %} rel="apple-touch-icon"> -->
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
        <link href={% static "vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
        <link href={% static "vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
        <link href={% static "vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
        <link href={% static "vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link href={% static "css/style.css" %} rel="stylesheet">
      
      </head>
<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <!-- Uncomment below if you prefer to use text as a logo -->
      <h1 class="logo"><a href="{% url 'home' %}">Covid-19</a></h1>
      {% comment %} <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'displayGraph' %}">Visualize Charts</a></li>
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar --> {% endcomment %}
      
    </div>
  </header><!-- End Header -->

<br><br><br><br>
<div class="container">
{% if lat_one %}
<img src='/{{lat_one}}'><br>
<br>
{% endif %}
<br>
<br>

{% if lat_two %}
<img src='/{{lat_two}}' ><br>
<br>
{% endif %}
<br>
<br>

{% if lat_three %}
<img src='/{{lat_three}}' ><br>
<br>
{% endif %}
<br>
<br>

{% if lat_four %}
<img src='/{{lat_four}}'><br>
<br>
{% endif %}
<br>
<br>

{% if ld %}
<img src='/{{ld}}'><br>
<br>
{% endif %}
<br>
<br>

{% if who_img %}
<img src='/{{who_img}}' width="1200"><br>
<br>
{% endif %}
<br>
<br>


{% if temp %}
<img src='/{{temp}}'>
{% endif %}
<br>
</div>

<script src={% static "vendor/purecounter/purecounter.js" %}></script>
<script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "vendor/glightbox/js/glightbox.min.js" %}></script>
<script src={% static "vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
<script src={% static "vendor/swiper/swiper-bundle.min.js" %}></script>
<script src={% static "vendor/php-email-form/validate.js" %}></script>


<script src={% static "js/main.js" %}></script>

</body>


</html>